<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="mainScreen.css">
    <link href="/css/casino/casinoFront.css" rel="stylesheet">
    <title>Casino</title>
</head>
<body>
<div><p></p>
<!--    <form action="/casino/akkCasino" method="post">-->
<!--    <button id="akk" type="button" class="btn btn-warning btn-lg" href="/casino/akkCasino?email=" th:value="${user.email}">мой кирпич</button>-->
<!--    </form>-->
</div>
<div id="intro"><img src="/dop/dow.gif">
</div>
<div align="center">
    <h5>Мои бабки:</h5>
<!--    <form action="/casino/akkCasino" method="post">-->
<!--    <output name="money" type="text" aria-label="Age" class="form-control" placeholder="Age" th:value="${user.money}"></output>-->
<!--    </form></div>-->
<table width="850">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th id="rul">

            <p></p>
            <button type="button" class="btn btn-outline"><img src="/dop/rul.png" width="150" height="150"></button>
        </th>

    </tr>
    <tr>
        <th scope="row"></th>
        <td id="ochko">
            <p></p>
            <button type="button" class="btn btn-outline"><img src="/dop/ochko.png" width="150" height="150"></button>
        </td>

    </tr>
    <tr>
        <th></th>
        <td></td>
        <td id="rusRul">
            <p></p>
            <button type="button" class="btn btn-outline"><img src="/dop/rusRul.png" width="150" height="150"></button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>