<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/casino/casinoAkk.css" rel="stylesheet">
    <title>Casino</title>
</head>

<body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<h1 align="center"></h1>

<form action="/casino/akkCasino" method="post">
    <input class="inp" id="email" name="email" type="text" aria-label="Name" class="form-control" placeholder="Name" th:value="${user.email}" readonly>
    <input class="inp" id="moneyWon" name="moneyWon" type="text" aria-label="Age" class="form-control" placeholder="Age" th:value="${user.moneyWon}">
    <input class="inp" id="moneyLost" name="moneyLost" type="text" aria-label="Age" class="form-control" placeholder="Age" th:value="${user.moneyLost}">
    <input class="inp" id="money" name="money" type="text" aria-label="Age" class="form-control" placeholder="Age" th:value="${user.money}">

    <button class="btn btn-success" type="submit">Add</button>
</form>
                                                                            <!--this.email = email;-->
                                                                            <!--this.password = password;-->
                                                                            <!--this.authorities = authorities;-->
                                                                            <!--this.moneyWon = moneyWon;-->
                                                                            <!--this.moneyLost = moneyLost;-->
                                                                            <!--this.money = money;-->


</body>

</html>